# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/iLog3-Dev/Build/Debug
/iLog3-Dev/Build/iLog3-Dev.VC.VC.opendb
/iLog3-Dev/Build/iLog3-Dev.VC.db
/iLog3-Dev/Build/Win32/IntDir
/iLog3-Dev/Build/Win32/Output
/iLog3-Dev/Build/Win32/iLog3-Test/x64
/iLog3-Dev/Build/Win32/iLog3-Test/Debug
